#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  
  canvas {
    border: 2px solid black;
    margin-bottom: 10px;
  }
  
  #score, #highscore {
    color: white;
    font-size: 16px;
  }
  
  .controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  button {
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    width: 50px;
    height: 50px;
  }
  
  #leftButton, #rightButton {
    display: inline-block;
  }
  
  .game-over {
    color: red;
    font-size: 24px;
    font-weight: bold;
  }
  